node_modules

# Node.js related
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
pnpm-lock.yaml
.pnpm-debug.log
node_modules/.cache/@babel/register/.babel.7.5.5.development.json

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# pycache and backend stuff
backend/__pycache__/*
backend/classes/__pycache__/*
backend/logs/__pycache__/*
backend/nessus-drop/*
!backend/nessus-drop/.gitkeep
backend/output/*
!backend/output/.gitkeep
backend/flask_session/*
!backend/flask_session/.gitkeep
backend/logs/*.txt